.tab:not(:last-child) {
    margin-right: 20px;
}

.tab {
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 13px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.tab0, .tab1, .tab2 {
    background-color: #191919;
    color: #FFF;
}

.tab0.active {
    color:#FFF;
    background-color: #282828;
}

.tab1.active {
    color:#FFF;
    background-color: #282828;
}

.tab2.active {
    color: #FFF;
    background-color: #282828;
}
